* {
    margin: 0px;
    padding: 0px;
    font-family: 'Heebo', sans-serif;
    font-family: 'Lato', sans-serif;
}


.first {
    height: 900px;
    width: 100%;
    background-image:  url(/1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* margin: auto; */
    
    
}

.center h2 {
    
    color: white;
    padding: 10px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 60px;
    background-color: #313534;
}


.second {
    height: 800px;
    background: url(/2.jfif) fixed; 
}

.first_text {

    padding: 30px 60px;
    text-align: center;
    background: #F4F4F4;


}

.first_text h3 {

    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.gray {
    background: #313534;
    color: white;

}

.third {
    height: 800px;
    background: url(/3.jfif) fixed;

}

.last {
    background: url(/4.jfif) fixed;
}

@media  (max-width: 600px) {

    .center h2 {
        font-size: 40px;
        text-align: center;
    }
    
}